body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.main-header {
  min-width: 1200px;
  margin: 0 auto;
  margin-bottom: 80px;
  padding-top: 50px;

  background-color: #eeeeee;
}

.inner-page .main-header {
  margin: 0;
  padding: 0;
}

.inner-page .main-header-logo {
  margin-top: 49px;
}

.inner-page .site-navigation {
  padding: 0;
  margin: 0;
  padding-top: 77px;
}

.inner-page .basket-navigation {
  margin: 0;
  margin-left: 200px;
  padding-top: 77px;
}

.promo {
  display: flex;
  justify-content: center;
}

.promo h1 {
  max-width: 760px;
  padding: 0 19px;
  margin-top: 76px;
  margin-bottom: 114px;

  font-size: 55px;
  line-height: 55px;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  margin-right: 200px;
}

.main-header-logo:hover,
.main-header-logo:focus {
	opacity: 0.8;
}

.main-header-logo:active {
	opacity: 0.3;
}

.main-navigation {
  display: flex;
  align-items: stretch;
  font-size: 16px;
  line-height: 30px;
  padding-bottom: 5px;

  text-transform: uppercase;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  width: 440px;
}

.basket-navigation {
  display: flex;
  justify-content: flex-end;
  margin-left: 200px;
  width: 160px;
}

.basket-navigation .basket-link {
  position: relative;
  padding-left: 45px;
}

.basket-link::before {
  content: "";

  position: absolute;
  top: 5px;
  right: 100px;

  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation,
.basket-navigation {
  list-style: none;
}

.site-navigation a,
.basket-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.basket-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:focus,
.basket-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.features {
  position: relative;

  background-color: #eeeeee;
}

.features-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.features-item {
  display: none;
  padding: 78px 0 80px 0;
}

.features-item:nth-child(1) {
  display: block;
}

.features-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.features-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.features-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.features-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.features-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.catalog-columns {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 62px;
}

.filter fieldset {
  border: none;
}

.filter-item {
  margin: 0;
  padding: 0;

  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

/*filter-item*/
.inner-page legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700px;
  font-weight: bold;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls input {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls input::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-controls input::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.inner-page .grid-filter {
  margin: 0;
  padding: 0;
  margin-top: 56px;
}

.inner-page .view-filter {
  margin: 0;
  padding: 0;
  margin-top: 45px;
  padding-bottom: 0;
}

.grid-filter ul {
  list-style: none;
}

.view-filter ul {
  list-style: none;
}

.filter-option {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -25px;
  top: 0;

  width: 16px;
  height: 16px;

  border: 2px solid #a7a7a7;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  left: -25px;
  top: 0;

  width: 16px;
  height: 16px;

  border: 2px solid #a7a7a7;
  border-radius: 50%;
}

.catalog-examples {
  display: flex;
  flex-flow: wrap;
  margin: 0;
  padding: 0;
  margin-right: 0;
}

.sorting {
  display: flex;
  width: 760px;
  margin: 0;
  padding: 0;
  margin-left: 140px;
}

.sorting-list {
  display: flex;
  justify-content: space-between;
  width: 260px;
  margin: 0;
  padding: 0;
  margin-left: 240px;
  margin-right: 20px;

  text-transform: uppercase;
  line-height: 18px;
  font-size: 14px;
}

.sorting h2 {
  margin: 0;
  padding: 0;
}

.sorting ul {
  list-style: none;
}

.sorting a {
  color: #000000;
  opacity: 0.3;
}

.sorting-item .active {
  opacity: 1;
}

.sorting-buttons {
  width: 60px;
  margin: 0;
  padding: 0;
}

.button-down {
  max-width: 10px;
}

.button-up {
  max-width: 10px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  padding: 0;
  margin: 0;
  margin-left: 100px;
  margin-top: 66px;
  margin-bottom: 40px;
  list-style: none;
}

.catalog-item p {
  margin: 0;
  padding: 0;
}

.catalog-item {
  position:relative;
  width: 360px;
  min-height: 620px;
  list-style: none;
  padding: 0;
  margin: 0 20px 40px 20px;

  transition: box-shadow 150ms ease-in;
}

.catalog-item::before {
  content: "";

  position: absolute;
  width: 360px;
  height: 40px;
  top: 0;
  border-radius: 3px 3px 0 0;
  background: #e9e9e9 url("../img/browser.svg");
  transition: opacity 100ms ease-in;
}

.catalog-item:hover,
.catalog-item:focus {
  box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);
}

.catalog-item:hover::before,
.catalog-item:focus::before {
  background-color: #4d4d4d;
  border-bottom: 1px solid #4d4d4d;
}

.catalog-item:nth-child(1) {
   background: url("../img/img-sedona.jpg") center bottom no-repeat;
}
.catalog-item:nth-child(2) {
   background: url("../img/img-pink.jpg") center bottom no-repeat;
}
.catalog-item:nth-child(3) {
   background: url("../img/img-barbershop.jpg") center bottom no-repeat;
}
.catalog-item:nth-child(4) {
   background: url("../img/img-mishka.jpg") center bottom no-repeat;
}
.catalog-item:nth-child(5) {
   background: url("../img/img-aplus.jpg") center bottom no-repeat;
}
.catalog-item:nth-child(6) {
   background: url("../img/img-kvast.jpg") center bottom no-repeat;
}

.catalog-item-inner {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 45px;

  background-color: #eeeeee;
  opacity: 0;
  transition: opacity 150ms ease-in;
}

.catalog-item:hover .catalog-item-inner {
  opacity: 1;
}

.catalog-item-inner h3 {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 23px;
}

.catalog-item-inner p {
  font-size: 16px;
  line-height: 18px;
  min-height: 36px;
  margin: 0 auto;
  margin-bottom: 34px;
  width: 240px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;
  margin-left: 120px;

  list-style: none;
}

.pagination-item {
  margin-right: 5px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  padding: 10px 19px;

  color: #000000;

  background-color: #eeeeee;
}

.pagination-item .current-item {
  background-color: #ffffff;
  border: 3px solid #eeeeee;
}

.hover-button {
  width: 200px;
  margin: 0 auto;
}

.button {
  display: block;
  width: 240px;
  padding: 13px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.button-yellow {
  background-color: #efc84a;
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: #eab534;
}

.button-yellow:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #e5a722;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.button-green {
  background-color: #00ca74;
}

.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
}

.button-green:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #00aa62;
}

.map {
  display: flex;
  margin-bottom: 70px;
}

.adress {
  position: absolute;
  min-width: 320px;
  margin-top: 120px;
  margin-left: 40px;
  padding-top: 50px;
  padding-left: 50px;
  z-index: 4;

  background-color: #ffffff;
}

.adress h3 {
  font-weight: bold;
	font-size: 18px;
	line-height: 30px;

  text-transform: uppercase;
}

.adress p {
  font-weight: normal;
	font-size: 16px;
	line-height: 18px;
}

.write-us-link {
  margin-bottom: 47px;
}

.adress span {
  padding-bottom: 40px;

  font-weight: normal;
	font-size: 16px;
	line-height: 18px;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal {
  position: fixed;

  display: none;
  z-index: 5;

  color: #000000;

  background-color: #ffffff;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-show {
  display: block;

  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-write-us {
  top: 10px;
  left: 120px;

  width: 960px;
  padding: 70px 100px;
}

.modal-close {
  position: absolute;
  top: 0;
  right: -34px;

  width: 21px;
  height: 21px;

  font-size: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 80px;
  right: 90px;

  width: 27px;
  height: 5px;

  background-color: #fecccd;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal h2 {
  margin: 0;
  margin-bottom: 40px;

  font-size: 45px;
  line-height: 45px;
}

.write-us-form {
  display: inline-block;
  height: 260px;
  width: 100%;

  margin: 0;
}

.write-us-form p {
  margin: 0;
  width: 360px;

  height: 80px;
}

.write-us-form p:nth-child(1n) {
  float: left;
  padding-bottom: 30px;
  margin-right: 40px;
}

.write-us-form input[type="text"] {
  box-sizing: border-box;
  font: inherit;
  color: #444444;
  font-size: 16px;
  line-height: 18px;
  height: 46px;
  min-width: 360px;
  padding-left: 14px;

  border: 2px solid #e4e8e9;
}

#text-write-us {
  height: 114px;
}

.write-us-form input:hover {
  border-color: #cdd0d2;
}

.write-us-form input:focus {
  border-color: #555555;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
  border-top: 3px solid #dbdbdb;
}

.filter-button {
  color: #000000;

  background-color: #eeeeee;
}

.filter-button:hover,
.filter-button:focus {
  color: #000000;

  background-color: #dfdfdf;
}

.filter-button:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
  border-top: 3px solid #dbdbdb;
}



/*Сетка*/

.products {
  margin-bottom: 40px;
  padding-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
}

.products-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.products-item {
  width: 300px;
}

.about-us {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 48px;
}

.description {
  width: 660px;
}

.statistic {
  width: 360px;
}

.partners {
  padding-bottom: 48px;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 82px;
}

.partners-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.partners-item {
  width: 260px;
  opacity: 0.2;
}

.main-footer {
  margin-top: 70px;
}

.main-footer .container {
  display: flex;
}

.footer-social {
  display: flex;
  margin: 0 auto;
  margin-left: 20px;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 260px;
  margin: 0 auto;
  padding: 0;
  min-height: 80px;

  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 40px;
  width: 79px;
  height: 79px;
  text-decoration: none;
  color: #000000;
  background-color: #e1e1e1;
  transition: 200ms ease-in;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
}

.social-button:active path {
  fill: #e37376;
  box-shadow: 0 3px #c13135 inset;
}

.footer-slang {
  width: 560px;
  margin: 0;
  margin-right: 220px;
  padding: 0;
}

.footer-slang b {
  font-size: 36px;
  line-height: 36px;
}

.footer-slang p {
  font-size: 16px;
  line-height: 22px;
}
